
#define ZMK_POINTING_DEFAULT_MOVE_VAL 2400  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
//#include <dt-bindings/zmk/behaviors.h>


#define BASE 0
#define GAME 1
#define REV  2
#define NAVI 3
#define ADJ  4
#define GAM2 5
#define NUM  6
#define NUMP 7
#define FUNC 8

&mt {
  quick-tap-ms = <140>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
    combos {
            compatible = "zmk,combos";
            //combo_esc {
            //    timeout-ms = <50>;
            //    key-positions = <0 1>;
            //    bindings = <&kp ESC>;
            //};
            combo_rshft {
                key-positions = <16 27>;
                bindings = <&sk RSHFT>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_rctrl {
                key-positions = <17 28>;
                bindings = <&sk RCTRL>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_ralt {
                key-positions = <18 29>;
                bindings = <&sk RALT>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_rgui {
                key-positions = <19 30>;
                bindings = <&sk RGUI>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_lshft {
                key-positions = <13 24>;
                bindings = <&sk LSHFT>;
                timeout-ms = <10>;
                layers = <0 2 3 4 6 7>;
            };
            combo_lctrl {
                key-positions = <12 23>;
                bindings = <&sk LCTRL>;
                timeout-ms = <10>;
                layers = <0 2 3 4 6 7>;
            };
            combo_lalt {
                key-positions = <11 22>;
                bindings = <&sk LALT>;
                timeout-ms = <10>;
                layers = <0 2 3 4 6 7>;
            };
            combo_lgui {
                key-positions = <10 21>;
                bindings = <&sk LGUI>;
                timeout-ms = <10>;
                layers = <0 2 3 4 6 7>;
            };
            combo_ldqt {
                key-positions = <11 12>;
                bindings = <&kp DQT>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rapos {
                key-positions = <17 18>;
                bindings = <&kp APOS>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rdqt {
                key-positions = <17 18>;
                bindings = <&kp DQT>;
		timeout-ms = <10>;
                layers = <2>;
            };
            combo_lapos {
                key-positions = <11 12>;
                bindings = <&kp APOS>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_lunder {
                key-positions = <12 13>;
                bindings = <&kp UNDER>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rminus {
                key-positions = <16 17>;
                bindings = <&kp MINUS>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_runder {
                key-positions = <16 17>;
                bindings = <&kp UNDER>;
		timeout-ms = <10>;
                layers = <2>;
            };
            combo_lminus {
                key-positions = <12 13>;
                bindings = <&kp MINUS>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_lrbrc {
                key-positions = <1 2>;
                bindings = <&kp RBRC>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_llbrc {
                key-positions = <1 2>;
                bindings = <&kp LBRC>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rlbrc {
                key-positions = <7 8>;
                bindings = <&kp LBRC>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_rrbrc {
                key-positions = <7 8>;
                bindings = <&kp RBRC>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_lrbkt {
                key-positions = <0 1>;
                bindings = <&kp RBKT>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_llbkt {
                key-positions = <0 1>;
                bindings = <&kp LBKT>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rlbkt {
                key-positions = <8 9>;
                bindings = <&kp LBKT>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_rrbkt {
                key-positions = <8 9>;
                bindings = <&kp RBKT>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_lrpar {
                key-positions = <2 3>;
                bindings = <&kp RPAR>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_llpar {
                key-positions = <2 3>;
                bindings = <&kp LPAR>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_rlpar {
                key-positions = <6 7>;
                bindings = <&kp LPAR>;
                timeout-ms = <10>;
                layers = <2>;
            };
            combo_rrpar {
                key-positions = <6 7>;
                bindings = <&kp RPAR>;
                timeout-ms = <10>;
                layers = <0 4 6 7>;
            };
            combo_gam2esc {
                key-positions = <11 12 13>;
                bindings = <&kp ESC>;
                timeout-ms = <50>;
                layers = <5>;
            };
            combo_caps {
                key-positions = <22 23 24>;
                bindings = <&kp CAPS>;
                timeout-ms = <50>;
                layers = <0 4 6 7>;
            };
            combo_apos {
                key-positions = <27 28 29>;
                bindings = <&kp APOS>;
                timeout-ms = <50>;
                layers = <0 4 6 7>;
            };
            combo_capsrev {
                key-positions = <27 28 29>;
                bindings = <&kp CAPS>;
                timeout-ms = <50>;
                layers = <2>;
            };
            combo_aposrev {
                key-positions = <22 23 24>;
                bindings = <&kp APOS>;
                timeout-ms = <50>;
                layers = <2>;
            };
            combo_lscrldn {
                key-positions = <22 23 24>;
                bindings = <&msc SCRL_DOWN>;
                timeout-ms = <50>;
                layers = <3>;
            };
            combo_rscrldn {
                key-positions = <27 28 29>;
                bindings = <&msc SCRL_DOWN>;
                timeout-ms = <50>;
                layers = <3>;
            };
            combo_lscrlup {
                key-positions = <23 24 25>;
                bindings = <&msc SCRL_UP>;
                timeout-ms = <50>;
                layers = <3>;
            };
            combo_rscrlup {
                key-positions = <26 27 28>;
                bindings = <&msc SCRL_UP>;
                timeout-ms = <50>;
                layers = <3>;
            };
            combo_lfunclayer {
                key-positions = <32 33>;
                bindings = <&sl 8>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_rfunclayer {
                key-positions = <36 37>;
                bindings = <&sl 8>;
                timeout-ms = <50>;
                layers = <0 2 3 4 6 7>;
            };
            combo_lrevlayer {
                key-positions = <33 34>;
                bindings = <&sl 2>;
                timeout-ms = <50>;
                layers = <0 3 4 6 7>;
            };
            combo_rrevlayer {
                key-positions = <35 36>;
                bindings = <&sl 2>;
                timeout-ms = <50>;
                layers = <0 3 4 6 7>;
            };
	    combo_gamealt {
		key-positions = <33 34>;
		bindings = <&kp LALT>;
		timeout-ms = <50>;
		layers = <1 5>;
	    };
	    combo_gametab {
		key-positions = <0 1>;
		bindings = <&kp TAB>;
		timeout-ms = <200>;
		layers = <1 5>;
	    };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp G &kp I &kp F>
                ;
        };
    };

        keymap {
                compatible = "zmk,keymap";
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                base_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "BASE"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

//                &kp Q       &kp W       &kp F       &kp P       &kp G           &kp J       &kp L       &kp U       &kp Y       &kp SEMI
//                &mt LGUI A  &mt LALT R  &mt LCTRL S &mt LSHFT T &kp D           &kp H       &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
//                &kp A  	    &kp R  	&kp S       &kp T       &kp D          	&kp H       &kp N 	&kp E 	    &kp I  	&kp O
//    &kp Z       &kp Z       &kp X       &kp C       &kp V       &kp B           &kp K       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp FSLH
                &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
//                &kp A  	    &kp S  	&kp D       &kp F       &kp G          	&kp H       &kp J 	&kp K 	    &kp L  	&kp SEMI
                &mt LGUI A    &mt LALT S &mt LCTRL D  &mt LSHFT F       &kp G   &kp H       &mt LSHFT J &mt LCTRL K &mt RALT L  &mt LGUI SEMI
    &kp Z       &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp FSLH
                                        &lt NUM TAB &kp SPACE   &lt NAVI ESC    &lt NUM RET &kp BSPC    &lt NAVI DEL
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                game_layer {


// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "GAME"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃    TAB    ┃     q     ┃     w     ┃     e     ┃     r     ┃   ┃     t     ┃     y     ┃     u     ┃     i     ┃     o     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   LCTRL   ┃     a     ┃     S     ┃     d     ┃     f     ┃   ┃     g     ┃     h     ┃     n     ┃     k     ┃     l     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    ALT    ┃   SHIFT   ┃     z     ┃     x     ┃     c     ┃     v     ┃   ┃     b     ┃     n     ┃     m     ┃     ,     ┃     .     ┃      /    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    SPC    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃   ENTER   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp T     &kp Q       &kp W       &kp E       &kp R           &kp J       &kp L       &kp U       &kp Y       &kp SEMI
                &kp LSHFT &kp A       &kp S       &kp D       &kp F           &kp H       &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
    &kp LALT    &kp LCTRL &kp Z       &kp X       &kp C       &kp V           &kp K       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp FSLH
                                        &mo NUM     &kp SPACE   &mo GAM2        &lt NUM RET &kp BSPC    &kp BSPC
                        >;
                };


// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                reverse_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "REV"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃    p      ┃     o     ┃     i      ┃     u    ┃      y        ┃     t     ┃     r     ┃     e     ┃     w     ┃     q     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   ;       ┃     l     ┃     k     ┃     j     ┃     h     ┃   ┃     g     ┃     f     ┃     d     ┃     s     ┃     a     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    ALT    ┃   /       ┃     .     ┃     ,     ┃     m     ┃     n     ┃   ┃     b     ┃     v     ┃     c     ┃     x     ┃     z     ┃      /    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    SPC    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃   ENTER   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp P    &kp O      &kp I    &kp U    &kp Y                     &kp T   &kp R    &kp E   &kp W     &kp Q
//                &kp SEMI &kp L      &kp K    &kp J    &kp H                  &kp G   &kp F    &kp D   &kp S     &kp A
                &mt LGUI SEMI &mt RALT L      &mt LCTRL K  &mt LSHFT J  &kp H   &kp G   &mt LSHFT F  &mt LCTRL D  &mt LALT S  &mt LGUI A
    &trans      &kp FSLH &kp DOT    &kp COMMA      &kp M      &kp N          &kp B &kp V &kp C &kp X  &kp Z   &trans         
                        &lt NAVI DEL      &kp BSPC      &lt NUM RET         &lt NAVI ESC      &kp SPACE    &lt NUM TAB      
                        >;
                };


// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                nav_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NAVI"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &mkp MB3     &mmv MOVE_LEFT  &mmv MOVE_UP      &mmv MOVE_DOWN   &mmv MOVE_RIGHT        &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT &mkp MB3
                &mkp MB1   &kp LEFT    &kp UP    &kp DOWN   &kp RIGHT        &kp LEFT    &kp DOWN   &kp UP   &kp RIGHT   &mkp MB1
    &trans      &mkp MB2   &kp HOME   &kp PG_UP    &kp PG_DN   &kp END        &kp END    &kp PG_DN   &kp PG_UP   &kp HOME   &mkp MB2 &trans      
                                        &kp CAPS      &trans      &kp RET          &kp RET &kp KP_N0   &kp CAPS      
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄



                adjust_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "ADJ"                               ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &sys_reset  &bt BT_CLR &out OUT_TOG &trans      &trans          &trans      &kp F7      &kp F8      &kp F9      &kp F12
                &bootloader &bt BT_NXT  &trans      &trans      &trans          &trans      &kp F4      &kp F5      &kp F6      &kp F11  
    &trans      &studio_unlock  &bt BT_PRV  &trans      &trans      &trans          &trans      &kp F1      &kp F2      &kp F3      &kp F10     &trans         
                                        &trans      &trans      &trans          &trans      &trans      &trans      
                        >;
                };



// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

                game2_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "GAM2"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     o     ┃     i     ┃     u     ┃     y     ┃     t     ┃   ┃     t     ┃     y     ┃     u     ┃     i     ┃     o     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     l     ┃     k     ┃     j     ┃     h     ┃     g     ┃   ┃     g     ┃     h     ┃     n     ┃     k     ┃     l     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃      /    ┃    .      ┃     ,     ┃     m     ┃     n     ┃     b     ┃   ┃     b     ┃     n     ┃     m     ┃     ,     ┃     .     ┃      /    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃     p     ┃    ;      ┃           ┃   ┃   ENTER   ┃   BSPC    ┃   ENTER   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp O       &kp I       &kp U       &kp Y   &kp T              &kp J       &kp L       &kp U       &kp Y       &kp SEMI
                &kp L       &kp K       &kp J       &kp H   &kp G              &kp H       &mt RSHFT N &mt RCTRL E &mt RALT I  &mt RGUI O
  &lt NAVI BSLH &kp DOT     &kp COMMA   &kp M       &kp N   &kp B              &kp K       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp FSLH
                                        &kp P       &kp SEMI    &trans          &lt NUM RET &kp BSPC    &kp BSPC
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                num_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NUM"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp LBKT    &kp N7   &kp N8   &kp N9   &kp RBKT        &kp LBKT    &kp N7   &kp N8   &kp N9   &kp RBKT
//                &kp BSLH   &kp N4   &kp N5   &kp N6   &kp EQUAL       &kp EQUAL   &kp N4   &kp N5   &kp N6   &kp BSLH
                &mt LGUI BSLH   &mt LALT N4   &mt LCTRL N5   &mt LSHFT N6   &kp EQUAL       &kp EQUAL   &mt LSHFT N4  &mt LCTRL N5 &mt RALT N6  &mt LGUI BSLH
    &trans      &kp GRAVE    &kp N1   &kp N2   &kp N3   &kp N0          &kp N0      &kp N1   &kp N2   &kp N3   &kp GRAVE  &trans      
                                     &trans   &lt MINUS ADJ  &lt N0 NUMP  &lt N0 NUMP    &lt MINUS ADJ     &trans      
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                numpad_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "NUMP"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp KP_NUM   &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS         &kp KP_MINUS &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_NUM   
                &kp KP_SLASH &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS          &kp KP_PLUS  &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_SLASH 
    &trans      &kp KP_MULTIPLY  &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_N0        &kp KP_N0    &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_MULTIPLY &trans      
                                        &trans      &kp KP_DOT      &trans          &mo ADJ     &kp KP_DOT   &trans      
                        >;
                };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


                func_layer {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
label= "FUNC"                              ;
// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
 bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

                &kp F12     &kp F7      &kp F8      &kp F9      &kp INS      &kp INS      &kp F7      &kp F8      &kp F9      &kp F12
                &kp F11     &kp F4      &kp F5      &kp F6      &kp PSCRN    &kp PSCRN      &kp F4      &kp F5      &kp F6      &kp F11  
    &trans      &kp F10     &kp F1      &kp F2      &kp F3      &kp PAUSE_BREAK      &kp PAUSE_BREAK      &kp F1      &kp F2      &kp F3      &kp F10     &trans         
                                        &trans      &trans      &trans          &trans      &trans      &trans      
                        >;
                };

        };
};
